<!DOCTYPE html>
<html>
  <head style="height:100%">
    <meta charset="UTF-8">
    <title>React App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
  </head>

  <body style="height:100%">
    <div id="root"></div>
    <script type="text/javascript" src="{{url_for('static', filename='bundle.js')}}"></script>
  </body>
</html>
